{% extends "base.html" %}

{% load bootstrap_tags %} 

{% block page_title %}Reported Bugs{% endblock %}

{% block content %}

<div class="mx-auto regular-container">
    
    <h1>Reported Bugs</h1>
    
    <!--If there are bug reports in the database, they will appear here-->
    {% if bugs %}
    
        <div class="flex-container">
        
            {% for bug in bugs %}
            
                <div class="card" col-xs-12>
                    <div class="card-body">
                        <h2 class="card-title">{{ bug.title }}</h2>
                        <strong>Submitted by:</strong> {{ bug.submitter }}<br>
                        <strong>Date:</strong> {{ bug.date_submitted }}<br>
                        <strong>Upvotes:</strong> {{ bug.upvotes }}<br>
                        <strong>Status:</strong> {{ bug.status }}<br>
                        <p class="card-text"> {{ bug.description|truncatewords:20 }}<br>
                        <a href="{% url 'bug_details' bug.id %}">
                                <button class="btn btn-secondary btn-sm">View Details</button></a>
                      </div>
                </div>
            
            {% endfor %}
    
        </div>    
    
    {% else %}
        <!--If there are no bug reports in the database, the following text will appear-->
        <p>There are currently no bugs in the database.</p>
        
    {% endif %}
    
    <div><a href="{% url 'report_bug' %}"><button class="btn btn-secondary">Report a Bug</button></a></div>
    
</div>

{% endblock %}