{% extends "base.html" %}

{% load bootstrap_tags %} 

{% block page_title %}Bug Details{% endblock %}

{% block content %}

<div class="mx-auto medium-container">
    
    <h1>{{ bug.title }}</h1>
    <strong>Submitted By: {{ bug.submitter }}</strong><br>
    <strong>Date and Time: {{ bug.date_submitted }}</strong><br>
    <strong>Upvotes: {{ bug.upvotes }} 
    <button type="submit" class="btn btn-secondary btn-sm"><i class="fas fa-arrow-up"></i></button></td></strong><br>
    <p>{{ bug.description }}</p>
    
    <h2>Comments</h2>
    <a href="{% url 'comment on a bug' bug.id %}"<p>Comment on this bug.</p></a>
    {% if comments %}
        {% for comment in comments %}
            <h3>{{ comment.title }}</h3>
            <p>by <strong>{{ comment.commenter }}</strong></p>
            <p>{{ comment.text }}</p>
        {% endfor %}
    {% endif %}    

</div>

{% endblock %}