{% extends "base.html" %}

{% load bootstrap_tags %} 

{% block page_title %}View Bugs{% endblock %}

{% block content %}

<div class="mx-auto small-container">
    <h1>{{ bug.title }}</h1>
    <strong>Submitted By: {{ bug.submitter }}</strong><br>
    <strong>Date and Time: {{ bug.date_submitted }}</strong><br>
    <strong>Upvotes: {{ bug.upvotes }} 
    <button type="submit" class="btn btn-secondary btn-sm" id="upvote"><i class="fas fa-arrow-up"></i></button></td></strong><br>
    <p>{{ bug.description }}</p>
</div>

{% endblock %}