{% extends "base.html" %}

{% load bootstrap_tags %} 

{% block page_title %}View Bugs{% endblock %}

{% block content %}

<div class="mx-auto large-container">
    <h1>Reported Bugs</h1>
    
    <!--If there are bug reports in the database, they will be listed in a table here-->
    {% if bugs %}
    
        <table class="table">
            
            <thead>
                <tr>
                    <th scope="col" style="width: 20%">Title</th>
                    <th scope="col" style="width: 35%">Description</th>
                    <th scope="col" style="width: 10%">Submitter</th>
                    <th scope="col" style="width: 15%">Date Submitted</th>
                    <th scope="col" style="width: 10%">Upvotes</th>
                    <th scope="col" style="width: 10%">Status</th>
                </tr>
            </thead>
            
            <tbody>
                {% for bug in bugs %}
                <tr>
                    <!--Users can click on the bug title to see its details, including comments from users-->
                    <th scope="row"><a href="{% url 'bug detail' bug.id %}">{{ bug.title }}</a></th>
                    <td>{{ bug.description|truncatewords:20 }}</td>
                    <td>{{ bug.submitter }}</td>
                    <td>{{ bug.date_submitted }}</td>
                    <!--The code for upvoting is based on this: https://www.quora.com/How-do-I-create-a-vote-button-in-Django/answer/Lakshmi-Suvvada-->
                    <td>{{ bug.upvotes }} <a href="upvote/{{ bug.id }}"><button class="btn btn-secondary btn-sm">
                        <i class="fas fa-arrow-up"></i></button></a></td>
                    <td>{{ bug.status }}</td>    
                </tr>
                {% endfor %}
            </tbody>
            
        </table>

    {% else %}
        <!--If there are no bug reports in the database, the following text will appear-->
        <p>There are currently no bugs in the database.</p>
        
    {% endif %}
    
    <!--Link for a user to report a bug-->
    <p><a href="{% url 'report bug' %}">Report a bug.</a></p>
    
</div>

{% endblock %}