{% extends "base.html" %}

{% load bootstrap_tags %} 

{% block page_title %}View Bugs{% endblock %}

{% block content %}

<div class="mx-auto main-container">
    <h1>Reported Bugs</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Submitter</th>
                <th scope="col">Date Submitted</th>
                <th scope="col">Upvotes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>57 <i class="fas fa-arrow-alt-circle-up"></i></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>87 <i class="fas fa-arrow-alt-circle-up"></i></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>54 <i class="fas fa-arrow-alt-circle-up"></i></td>
        </tbody>
    </table>
</div>

{% endblock %}