{% extends 'base.html' %}

{% block page_title %}Site Statistics{% endblock %} 

{% block content %}

<div class="mx-auto regular-container">
    
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h1>Most Upvoted Bugs</h1>
            <canvas id="bug-upvotes"></canvas>
        </div>
    
        <div class="col-xs-12 col-md-6">
            <h1>Most Upvoted Features</h1>
            <canvas id="feature-upvotes"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h1>Bug Status</h1>
            <canvas id="bug-status"></canvas>
        </div>
    
        <div class="col-xs-12 col-md-6">
            <h1>Feature Status</h1>
            <canvas id="feature-status"></canvas>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    
</div>

{% endblock %}