<!--This is based on code from the Authentication and Authorisation unit of the course.-->

{% extends "base.html" %}
{% block page_title %}Reset Password{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4 page-content">
        {% if validlink %}
            <h1>Reset Your Password</h1>
            <p>Please enter your new password twice so that we can verify you typed it in correctly.</p>
            <form action="" method="post" class="accountform">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <table>
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">New password:</label></td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirm password:</label></td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" class="btn btn-secondary">Change Password</button></td>
                    </tr>
                </table>
            </form>
        {% else %}
            <h1>Password Reset Unsuccessful</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</div>    
{% endblock %}