<!--This is based on code from the Authentication and Authorisation unit of the course.-->

{% extends "base.html" %}
{% block page_title %}Reset Password{% endblock %}

{% block content %}

<!--Form for a user to request a password reset email-->
<div class="mx-auto small-container">
    <h1>Reset Your Password</h1>
    <form method="post" class="accountform">
        <p>Please enter your email address to receive instructions for resetting your password.</p>
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
         {{ form.email.errors }}
        <p><label for="id_email" class="control-label required-field">Email address:</label> {{ form.email }} <button type="submit" class="btn btn-secondary">Reset Password</button></p>
    </form>
</div>

{% endblock %}