{% extends "base.html" %}

{% load bootstrap_tags %} 

{% block page_title %}Requested Features{% endblock %}

{% block content %}

<div class="mx-auto large-container">
    <h1>Requested Features</h1>
    
    <!--If there are feature reports in the database, they will be listed in a table here-->
    {% if features %}
    
        <div class="table-responsive">
            <table class="table">
                
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%">Title</th>
                        <th scope="col" style="width: 25%">Description</th>
                        <th scope="col" style="width: 10%">Submitter</th>
                        <th scope="col" style="width: 15%">Date Submitted</th>
                        <th scope="col" style="width: 10%">Upvotes</th>
                        <th scope="col" style="width: 10%">Amount Paid</th>
                        <th scope="col" style="width: 10%">Status</th>
                        <th scope="col" style="width: 10%"></th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for feature in features %}
                    <tr>
                        <th scope="row">{{ feature.title }}</th>
                        <td>{{ feature.description|truncatewords:20 }}</td>
                        <td>{{ feature.submitter }}</td>
                        <td>{{ feature.date_submitted }}</td>
                        <td>{{ feature.upvotes }}</td>
                        <td>€{{ feature.amount_paid }}</td>
                        <td>{{ feature.status }}</td>
                        <td><a href="{% url 'feature_details' feature.id %}">
                            <button class="btn btn-secondary btn-sm">View Details</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </div>

    {% else %}
        <!--If there are no feature reports in the database, the following text will appear-->
        <p>There are currently no features in the database.</p>
        
    {% endif %}
    
    <!--Link for a user to report a feature-->
    <p><a href="{% url 'request_feature' %}"><button type="submit" class="btn btn-secondary">Request a Feature</button></a></p>
    
</div>

{% endblock %}