@import url('https://fonts.googleapis.com/css?family=Milonga|Roboto');

body {
    font-family: "Roboto", sans-serif;
    background-color: #D4D4F7;
}

h1 {
    font-family: "Milonga", cursive;
}

.navbar-brand {
    font-family: "Milonga", cursive;
    font-size: 3.5em !important;
}

form {
    width: 50%;
}

.navbar-dark {
    background-color: #693C8B !important;
}

.navbar-brand {
    font-size: 2.5em;
}

.profile-img {
    margin-top: 25%;
    display: block;
}

.img-circle{
    width:100px;
    height: 100px; 
}

.boldtext{
    font-weight: bold;
}

