@import url('https://fonts.googleapis.com/css?family=Milonga|Roboto');

/*Colours
#D4D4F7 Lilac
#2E2FE3 Royal Blue
#583870 Dark Purple
#AE0D7A Dark Pink
#5D1D3A Dark Burgundy*/


/*Nav*/

.navbar-dark {
    background-color: #583870 !important; /*!important is used to override the Bootstrap CSS for the navbar background colour*/
}

.navbar-brand {
    font-family: "Milonga", cursive;
    font-size: 3em;
}


/*Headings*/

h1 {
    font-family: "Milonga", cursive;
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-family: "Milonga", cursive;
    font-size: 1.5em;
    margin-top: 10px;
}

h3 {
    font-family: "Milonga", cursive;
    font-size: 1em;
}


/*Main Text*/

body {
    font-family: "Roboto", sans-serif;
    color: #5D1D3A;
    background: url(../img/unicorn-2262633.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    color: #2E2FE3;
}

a:hover {
    color: #AE0D7A;
}


/*Containers*/

.small-container {
    display: block;
    width: 30vw;
    margin-top: 50px;
    padding: 25px;
    background-color: rgba(212, 212, 247, 0.9);
}

.medium-container {
    display: block;
    width: 50vw;
    margin-top: 50px;
    padding: 25px;
    background-color: rgba(212, 212, 247, 0.9);
}

.large-container {
    display: block;
    width: 80vw;
    margin-top: 50px;
    padding: 25px;
    background-color: rgba(212, 212, 247, 0.9);
}

.comment-pane {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}


/*Buttons*/

.btn-secondary {
    background-color: #583870;
    margin-right: 10px;
}

.btn-secondary:hover {
    background-color: #AE0D7A;
}


/*Images*/

.profile-img {
    margin-top: 25%;
    display: block;
}

.img-circle{
    width:100px;
    height: 100px; 
}


/*Media Queries*/

@media only screen and (max-width: 992px) {
    .small-container {
        width: 80vw;
        }

    .medium-container {
        width: 80vw;
        }
        
    .navbar-brand {
    font-size: 2em;
    }
    
}
