@import url('https://fonts.googleapis.com/css?family=Milonga|Roboto');

form {
    width: 50%;
}

.navbar-light {
    background-color: #DAD4F7 !important;
}

#logo {
    color: #D1239A;
}

.navbar-brand {
    font-size: 2.5em;
}

.profile-img {
    margin-top: 25%;
    display: block;
}

.img-circle{
    width:100px;
    height: 100px; 
}

.boldtext{
    font-weight: bold;
}

