<!--This code was copied and adapted for this project from the e-commerce mini project-->

{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Payment{% endblock %}

{% block head_js %} <!--This block contains JavaScript required by Stripe-->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="mx-auto medium-container">

    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        <h1>Payment Total: €{{ total }}</h1>
        
        <div id="credit-card-errors">
            <div id="alert-message block-message error" id="stripe-error-message"></div>
        </div>
    
        <div class="row">
            
            <div class="form-group col-md-6">
                {{ order_form | as_bootstrap }}
            </div>
        
            <div class="form-group col-md-6">
                {{ payment_form | as_bootstrap }}
                {% csrf_token %}
                <input class=" btn btn-secondary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                
            </div>
        </div>
    
    </form>
</div>
{% endblock %}