<!--This code was copied and adapted for this project from the e-commerce mini project-->

{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Payment{% endblock %}

{% block head_js %}
<!--This block contains JavaScript required by Stripe-->
<script src="https://js.stripe.com/v2/"></script>
<script>
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="mx-auto regular-container">

    <form method="post" id="payment-form" action="{% url 'checkout' %}">
        <h1>Payment Total: €{{ total }}</h1>

        <div id="credit-card-errors">
            <div id="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <div class="row">

            <!--A form for the user to enter their name and address-->
            <div class="form-group col-md-6">
                {{ order_form | as_bootstrap }}
            </div>

            <!--A form for the user to enter their payment card details-->
            <div class="form-group col-md-6">
                {{ payment_form | as_bootstrap }}
                {% csrf_token %}
                <button class="btn btn-secondary" id="submit_payment_btn" name="commit" type="submit"><i
                        class="fas fa-paper-plane"></i> Submit
                    Payment</button>

            </div>
        </div>

    </form>
</div>
{% endblock %}