<!--This code was copied from the Authentication and Authorisation unit of the course.-->

{% extends 'base.html' %} 

{% load bootstrap_tags %} 

{% block page_title %}Login Page{% endblock %} 

{% block content %}
<div class="mx-auto form-container">
    <h1>Log In</h1>
    <form method="POST">
        {% csrf_token %} {{ login_form | as_bootstrap}}
        <button type="submit" class="btn btn-secondary">Log In</button>
    </form>
    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
</div>
{% endblock %}