<!--This is based on code from the Authentication and Authorisation unit of the course.-->

{% extends 'base.html' %} 

{% block page_title %}Your Profile{% endblock %} 

{% block content %}

<!--A registered user's profile details-->
<div class="mx-auto small-container">
    
    <h1>Your Profile</h1>
    <strong>Username:</strong> {{ user.username }} <br>
    <strong>Date Joined:</strong> {{ user.date_joined }} <br>
    <strong>Email Address:</strong> {{ user.email }} <br>
    <strong>Bugs Submitted:</strong> {{user.profile.bugs_submitted}}<br>
    <strong>Features Requested:</strong> {{ user.profile.features_submitted }}<br>

    <h2>Bugs Upvoted</h2>
    {% if bugs_upvoted %}
        {% for bug in bugs_upvoted %}
            <a href="{% url 'bug_details' bug.id %}">{{ bug }}</a><br>
        {% endfor %}
    {% else %}
        <p>You haven't upvoted any bugs. <a href="{% url 'list_bugs' %}">Click here</a> to select a bug to upvote.</p>
    {% endif %}    

    <h2>Features Upvoted</h2>
    {% if features_upvoted %}
        {% for feature in features_upvoted %}
            <p>{{feature.date }} {{ feature }}</p>
        {% endfor %}
    {% else %}
        <p>You haven't requested any features. <a href="{% url 'request_feature' %}">Click here</a> to request one.</p>
    {% endif %}    
    
</div>

{% endblock %}