<!--This is based on code from the Authentication and Authorisation unit of the course.-->

{% extends 'base.html' %} 

{% block page_title %}Your Profile{% endblock %} 

{% block content %}

<!--A registered user's profile details-->
<div class="mx-auto small-container">
    
    <h1>Your Profile</h1>
    <strong>Username:</strong> {{ user.username }} <br>
    <strong>Date Joined:</strong> {{ user.date_joined }} <br>
    <strong>Email Address:</strong> {{ user.email }} <br>

    <h2>Bugs Reported</h2>
    {% if bugs_reported %}
        {% for bug in bugs_reported %}
            <a href="{% url 'bug_details' bug.id %}">{{ bug }}</a><br>
        {% endfor %}
    {% else %}
        <p>You haven't reported any bugs. <a href="{% url 'report_bug' %}">Report one</a>.</p>
    {% endif %}    

    <h2>Features Requested</h2>
    {% if features_requested %}
        {% for feature in features_requested %}
            <p><a href="{% url 'feature_details' feature.id %}">{{ feature }}</a></p>
        {% endfor %}
    {% else %}
        <p>You haven't requested any features. <a href="{% url 'request_feature' %}">Request one</a>.</p>
    {% endif %}    

    <h2>Bugs Upvoted</h2>
    {% if bugs_upvoted %}
        {% for bug in bugs_upvoted %}
            <a href="{% url 'bug_details' bug.id %}">{{ bug }}</a><br>
        {% endfor %}
    {% else %}
        <p>You haven't upvoted any bugs. <a href="{% url 'list_bugs' %}">View the list of bugs</a>.</p>
    {% endif %}    

    <h2>Features Upvoted</h2>
    {% if order_item %}
        {% for item in order_item %}
            {{ item }}, {{ item.order.date }}<br>
        {% endfor %}
    {% else %}
        <p>You haven't upvoted any features. <a href="{% url 'list_features' %}">View the list of features</a>.</p>
    {% endif %}    
    
</div>

{% endblock %}