<!--This code was copied from the Authentication and Authorisation unit of the course.-->

{% extends 'base.html' %} 

{% load bootstrap_tags %} 

{% block page_title %}Registration Page{% endblock %} 


{% block content %}
<div class="row">
    <div class="col-md-12 offset-md-3">
        <h1>Register an Account</h1> 
        <p>If you already have an account, you can log in <a href="{% url 'login' %}">here</a></p>
        <form method="POST">
            {% csrf_token %} {{ registration_form | as_bootstrap }}
            <button type="submit" class="btn btn-secondary">Register</button>
        </form>
    </div>
</div>
{% endblock %}