{% extends "base.html" %}

{% load bootstrap_tags %} 

{% block page_title %}Cart{% endblock %}

{% block content %}

<div class="mx-auto medium-container">
    <h1>Cart</h1>
    
    {% if cart_items %}
        <!--If there are items in the cart, they will appear here-->

        <div class="table-responsive">
            
            <table class="table">
                
                <thead>
                    <tr>
                        <th scope="col" style="width: 30%">Title</th>
                        <th scope="col" style="width: 50%">Description</th>
                        <th scope="col" style="width: 20%">Upvotes</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for item in cart_items %}
                        <tr>
                            <!--Users can click on the feature title to see its details, including comments from users-->
                            <th scope="row">{{ item.feature.title }}</th>
                            <td>{{ item.feature.description|truncatewords:20 }}</td>
                            <td>{{ item.quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                
            </table>
            
            <strong>Total Fee: €{{ total }}</strong>
                    
        </div>
        
        <p><a href="{% url 'checkout' %}"><button type="submit" class="btn btn-secondary">Checkout</button></a></p>
        
    {% else %}
    
        <!--If there are no items in the cart, the following text will appear-->
        <p>Your cart is empty. Look for features to upvote <a href="{% url 'list_features' %}">here</a>.</p>
        
    {% endif %}
    
    
</div>

{% endblock %}