{% extends "base.html" %}

{% load bootstrap_tags %} 

{% load mathfilters %}

{% block page_title %}Cart{% endblock %}

{% block content %}

<div class="mx-auto medium-container">
    <h1>Cart</h1>
    
    {% if cart_items %}
        <!--If there are items in the cart, they will appear here-->

        <div class="table-responsive">
            
            <table class="table">
                
                <thead>
                    <tr>
                        <th scope="col" style="width: 20%">Title</th>
                        <th scope="col" style="width: 50%">Description</th>
                        <th scope="col" style="width: 10%">Upvotes</th>
                        <th scope="col" style="width: 15%"></th>
                        <th scope="col" style="width: 10%">Price</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for item in cart_items %}
                        <tr>
                            <th scope="row">{{ item.feature.title }}</th>
                            <td>{{ item.feature.description|truncatewords:20 }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>
                                <span class="form-inline">
                                    <form class="form-inline" method="post" action="{% url 'add_one' item.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="badge badge-secondary"><i class="fas fa-plus"></i></button>
                                    </form>
                                    <form class="form-inline" method="post" action="{% url 'remove_one' item.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="badge badge-secondary"><i class="fas fa-minus"></i></button>
                                    </form>
                                </span>
                            </td>
                            <td>€{{ item.feature.price|mul:item.quantity }}</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right"><strong>Total:</strong></td>
                            <td><strong>€{{ total }}</strong></td>
                        </tr>
                </tbody>
                
            </table>
            
            <p><a href="{% url 'list_features' %}">Browse other features to upvote.</a></p>
            
        </div>
        
        <p><a href="{% url 'checkout' %}"><button type="submit" class="btn btn-secondary">Checkout</button></a></p>

    {% else %}
    
        <!--If there are no items in the cart, the following text will appear-->
        <p>Your cart is empty. Look for features to upvote <a href="{% url 'list_features' %}">here</a>.</p>
        
    {% endif %}
    
    
</div>

{% endblock %}